<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>SITM-MIO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<h2>SITM-MIO</h2>

				<div>
				<p>
					<a href="/bus/"><i class="fas fa-bus"></i>Go to
						Buses</a>
				</p>
				</div>
				
				<div>
				<p>
					<a href="/ruta/"><i class="fas fa-road"></i> Go to
						Rutas</a>
				</p>
				</div>
				
				<div>
				<p>		
					<a href="/conductor/"><i class="fas fa-male"></i> Go to
						Conductores</a>
				</p>
				<p>		
					<a href="/servicio/"><i class="fas fa-calendar-alt"></i> Go to
						Servicios</a>
				</p>
				<p>		
					<a href="/sitio"><i class="fas fa-calendar-alt"></i> Go to
						Sitios</a>
				</p>
				<p>		
					<a href="/sitioruta"><i class="fas fa-calendar-alt"></i> Go to
						Sitios - Ruta</a>
				</p>
				<p>
					<a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
				</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>